<md-sidenav flex layout="column" class="md-sidenav-left md-whiteframe-z2 left-sidebar" md-component-id="sidebar" md-is-locked-open="$mdMedia('gt-sm')">
	  <md-toolbar class="md-theme-indigo" >
	    <h1 class="md-toolbar-tools"><span class="fa fa-tachometer"></span>My Panel</h1>
	  </md-toolbar>
	  <md-content flex layout-padding >
		  <md-list layout="column">
			  <md-list-item>
		  		<md-button>
		  			Xpto
		  		</md-button>
			  </md-list-item>
	 	  </md-list>

	  </md-content>
</md-sidenav>